/**  responsive design  start*/
/** table */
@media (min-width: 768px) {
  .navbar__area .navbar__right {
    display: block;
  }
  .hero__area {
    padding: 8rem 0.5rem 0 0.5rem;
    height: 100vh;
    text-align: left;
  }
  .hero__area .hero {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
  .hero__area .hero__left {
    max-width: 1000px;
    width: 55%;
  }
  .hero__area .hero__right {
    width: 45%;
    padding-top: 4rem;
    margin-left: 1rem;
  }
  .hero__area .hero__right--founder {
    margin: 0 0;
  }
  .hero__area .hero__right .kausars {
    position: absolute;
    gap: 12rem;
    padding-left: 4.5rem;
    display: flex;
  }
  /** about */
  .about__area {
    padding: 6rem 1rem 2rem 1rem;
  }
  .about__area .about {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }
  .about__area .about__left {
    width: 50%;
  }
  .about__area .about__left--img {
    max-width: 1000px;
  }
  .about__area .about__left--img .img__border--sq {
    width: 100%;
    height: 480px;
  }
  .about__area .about__left--icon {
    min-width: 350px;
  }
  .about__area .about__right {
    padding-right: 1rem;
    width: 50%;
  }
  /** skills */
  .section {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  .section__container {
    width: 100%;
  }
  /** education */
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  /** Certificate part start */
  .certificatates__area {
    padding: 7rem 1rem 5rem 1rem;
  }
  .certificatates__area .certificate__area {
    display: flex;
    text-align: left;
    gap: 1rem;
  }
  .certificatates__area .certificate__area .details {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
  }
  .certificatates__area .certificate__area .details__logo {
    margin: 0 0;
  }
  .certificatates__area .certificate__area .details__title {
    padding: 1rem 0;
  }
  .certificatates__area .certificate__area .details__title--button {
    position: absolute;
    padding-left: 4.5rem;
  }
  /** services */
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .services__container--details .box {
    width: 100%;
  }
  /** project part stat */
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .portfolio__container--details {
    width: 100%;
  }
  /** project part end */
  /** testimonial part*/
  /**contact part */
  .contact__status--box {
    display: flex;
    gap: 1rem;
  }
  .contact__status .box {
    width: 33%;
  }
  .contact__form .form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
/** desktop */
@media (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
  /** hero part */
  .hero__area .hero__right {
    width: 55%;
    padding-top: 7rem;
    margin-left: 1rem;
  }
  .hero__area .hero__right--founder {
    margin: 0 0;
  }
  /** about part start */
  .about__area .about .img__sq {
    height: 440px;
  }
  /** services */
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  /** portfolio */
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
