* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2b2c2f;
  min-height: 100vh;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/** nav part start */
.navbar__area {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar__area .navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__area .navbar .hamburger .fa-bars {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--primary);
}
.navbar__area .navbar__left--circle {
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  text-align: center;
}

.navbar__area .navbar__left--circle .logo {
  position: relative;
  top: 20%;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar__area .navbar__right {
  padding: 0.7rem;
  display: none;
}
.navbar__area .navbar__right .list__items {
  box-shadow: var(--outer-shadow);
  list-style: none;
  margin: 1rem auto;
  text-align: center;
}
.navbar__area .navbar__right .list__items--links {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: 1s;
}
/** nav part end */
/** hero part strat */
.hero__area {
  padding: 8rem 0.5rem 5rem 0.5rem;
  text-align: center;
}
.hero__area .hero__left {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
.hero__area .hero__left--img {
  border-radius: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: var(--outer-shadow);

  padding: 0.5rem;
}
.hero__area .hero__left--img .img {
  box-shadow: var(--outer-shadow);
  padding: 0.5rem;
  border-radius: 100%;
}
.hero__area .hero__left--img .img__circle {
  box-shadow: var(--outer-shadow);
  padding: 0.5rem;
  border-radius: 100%;
  width: 100%;
  height: auto;
}
.hero__area .hero__right {
  padding-top: 2rem;
}
.hero__area .hero__right--span {
  font-size: 1.5rem;
  font-weight: 200;
  color: rgba(248, 248, 248, 0.5);
  letter-spacing: 2px;
}
.hero__area .hero__right--title {
  margin: 1rem 0;
  font-size: 2.8rem;
}
.hero__area .hero__right--web {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.hero__area .hero__right--founder {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2rem;
}
.hero__area .hero__right .bottom {
  display: flex;
  margin: 1rem auto;
  padding: 0 2rem;
}
.hero__area .hero__right .bottom__title {
  margin: 0 auto;
}
.hero__area .hero__right .bottom__title--links {
  padding: 1rem 1.2rem;
}

/** hero part end */
/** about part start */
.about__area {
  padding: 7rem 1rem 5rem 1rem;
}
.about__area .about__left--img {
  border-radius: 12px;
  max-width: 650px;

  margin: 1rem auto;
}
.about__area .about__left--img .img {
  padding: 0.5rem;
  box-shadow: var(--outer-shadow);
  border-radius: 12px;
  height: auto;
}
.about__area .about__left--img .img__border {
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-radius: 12px;
  box-shadow: var(--outer-shadow);
}

.about__area .about__left--img .img__border--sq {
  box-shadow: var(--outer-shadow);
  background-color: #2b2c2f;
  padding: 0.5rem;
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.about__area .about__left--icon {
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
}
.about__area .about__left--icon .social {
  width: 3.4rem;
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
  margin: 0 0.3rem;
  box-shadow: var(--outer-shadow);
}
.about__area .about__left--icon .social:hover {
  box-shadow: var(--outer-shadow-0);
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}
.about__area .about__right--details {
  padding: 1rem 0;
  margin: 0 auto;
}
.about__area .about__right .bottom {
  gap: 6rem;
  padding-right: 10rem;
  margin: 0 2rem;
  display: flex;
}
.about__area .about__right .bottom__btn {
  padding: 5rem auto;
  margin: 0 auto;
}
.about__area .about__right .bottom__btn--links {
  padding: 1rem 0.5rem;
}

/** about part end */
/** skills part start */
.section__area {
  padding: 5rem 1rem 1rem 1rem;
}
.section__area .section__container .skills {
  padding: 1.5rem 1rem;
}
.section__area .section__container .skills__details {
  display: flex;
  margin-bottom: 0.7rem;
  justify-content: space-between;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary);
}
.section__area .section__container .skills__progress {
  width: 100%;
  height: 1.25rem;
  border-radius: 100px;
  background-color: #2b2c2f;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: rgba(248, 248, 248, 0.5);
  box-shadow: var(--outer-shadow);
}
.section__area .section__container .skills__progress--Pnumber {
  position: relative;
  background-color: rgba(248, 248, 248, 0.5);
  height: 0.5rem;
  border-radius: 3rem;
  bottom: -0.375rem;
  left: 0.375rem;
}

/** skills part end */
/** edu_esp  start*/
.edu__exp {
  width: 100%;
  padding: 8rem 1rem 1rem 1rem;
}
.edu__exp .row__area {
  margin-left: 1.5rem;
}
.edu__exp .row__area .education {
  padding-left: 2rem;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}
.edu__exp .row__area .education__container {
  height: auto;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.4s;
  margin: 1rem auto;
  box-shadow: var(--outer-shadow);
}
.edu__exp .row__area .education__container:hover {
  box-shadow: var(--outer-shadow-0);
  background-color: #302d2d;
}
.edu__exp .row__area .education__container ::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: calc(100% + 5px);
  background-image: url(../img/degree_logo.svg);
  background-color: rgba(31, 197, 134, 0.3);
  background-size: cover;
  background-position: -5px 5px;
  top: 0;
  border: 2px solid rgba(248, 248, 248, 0.1);
}
.edu__exp .row__area .education__container .edu__title {
  padding: 1rem 0;
}

/** edu_esp  end*/
/** Certificate part start */
.certificatates__area {
  padding: 7rem 1rem 5rem 1rem;
}
.certificatates__area .certificate__area {
  text-align: center;
}
.certificatates__area .certificate__area .details {
  box-shadow: var(--outer-shadow);
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  display: flex;
  padding-right: 1rem;
}
.certificatates__area .certificate__area .details:hover {
  box-shadow: var(--outer-shadow-0);
}
.certificatates__area .certificate__area .details__logo {
  margin: 0 auto;
  padding: 1rem;
  max-width: 750px;
  height: auto;
  margin: 0 0;
}
.certificatates__area .certificate__area .details__title {
  margin: auto 0;
}
.certificatates__area .certificate__area .details__logo--img {
  width: 100%;
  height: auto;
}
.certificatates__area .certificate__area .details__title--text {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.certificatates__area .certificate__area .details__title--date {
  font-size: 14px;
  padding-bottom: 0.5rem;
}
.certificatates__area .certificate__link--all {
  padding: 1.5rem;
}

/** Certificate part end */
/** serives part start */
.services__area {
  padding: 7rem 1rem 1rem 1rem;
}
.services__area .services__container--details {
  border-radius: 1rem;
  margin: 1rem auto;
  text-align: center;
  box-shadow: var(--outer-shadow);
}
.services__area .services__container--details .box {
  width: 100%;
  padding: 1.5rem;
  height: 300px;
}
.services__area .services__container--details .box__title {
  margin: 1rem 0;
}
.services__area .services__container--details:hover {
  background-color: #302d2d;
  transition: all 0.3s;
  box-shadow: var(--outer-shadow-0);
}

/** serives part end */
/** portfolio part start */
.portfolio__area {
  padding: 7rem 1rem 1rem 1rem;
}
.portfolio__area .portfolio__container--details {
  min-width: 300px;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--outer-shadow);
}
.portfolio__area .portfolio__container--details:hover {
  box-shadow: var(--outer-shadow-0);
}
.portfolio__area .portfolio__container--details .project {
  width: 100%;
  padding: 1rem;
}
.portfolio__area .portfolio__container--details .project__title {
  padding: 0 0 1rem 1rem;
  color: var(--secondary);
  font-size: 1rem;
  text-align: left;
}
.portfolio__area .portfolio__container--details .project__title .span__website {
  padding-left: 0.5rem;
}
.portfolio__area .portfolio__container--details .project__img {
  margin: 0 auto;
  position: relative;
  height: 250px;
  min-width: 250px;
  border-radius: 1.5rem;
}
.portfolio__area .portfolio__container--details .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4306cf;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 1.5rem;
}
.portfolio__area .portfolio__container--details .project .overlay__img {
  border-radius: 1.5rem;
}
.portfolio__area .portfolio__container--details .project .overlay__span {
  padding: 1rem;
  color: #fff;
}
.portfolio__area .portfolio__container--details .project:hover .overlay {
  opacity: 0.8;
  transition: all 0.8s;
}
.portfolio__area .portfolio__container--details .project__link {
  padding: 1.5rem 0 3rem 0;
}
.portfolio__area .portfolio__container--details .project__link--details {
  padding: 1rem 2rem;
}
.portfolio__area .github__link {
  padding: 1.5rem;
}

/** portfolio part end */
/** testmonial part start */
.testmonial__area {
  padding: 7rem 1rem 1rem 1rem;
}
.testmonial__area .testimonial__slider {
  max-width: 667px;
  height: auto;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--outer-shadow);
}
.testmonial__area .testimonial__slider:hover {
  box-shadow: var(--outer-shadow-0);
}
.testmonial__area .testimonial__slider .details {
  margin: 0 0.5rem;
}
.testmonial__area .testimonial__slider--img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 1rem auto;
}
.testmonial__area .testimonial__slider--img .img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.testmonial__area .testimonial__slider--name {
  color: var(--primary);
  margin-bottom: 0.5rem;
}

/** testmonial part end */
/** contact part start */
.contact__area {
  padding: 7rem 1rem 3rem 1rem;
}
.contact__area .contact__status {
  padding-bottom: 1rem;
}
.contact__area .contact__status .box {
  height: auto;
  border-radius: 1rem;
  margin: 1rem auto;
  text-align: center;
  box-shadow: var(--outer-shadow);
}
.contact__area .contact__status .box:hover {
  box-shadow: var(--outer-shadow-0);
}
.contact__area .contact__status .box__card {
  width: 100%;
  padding: 1rem 0;
}
.contact__area .contact__status .box__card--title {
  padding: 1rem 0;
}
.contact__area .contact__status .box__card--number {
  margin: 0 0.5rem;
  color: var(--secondary);
  text-decoration: none;
}
.contact__area .contact__form .form .wrap {
  width: 100%;
  max-width: 750px;
}
.contact__area .contact__form .form .wrap__input {
  padding-bottom: 1rem;
}
.contact__area .contact__form .form .wrap__input--text {
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: #2b2c2f;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: var(--outer-shadow);
}
.contact__area .contact__form .form .wrap__input--text:hover {
  box-shadow: var(--outer-shadow-0);
}
.contact__area .contact__form .form .wrap__input--text:focus {
  outline: none;
}
.contact__area .contact__form .form .wrap__input--text:focus {
  background-color: #302d2d;
  transition: all 0.3s;
}
.contact__area .contact__form .form .wrap__textarea .textarea {
  resize: vertical;
}
.contact__area .contact .button__btn {
  padding: 2rem 0;
}
.contact__area .contact .button__btn--links {
  padding: 1rem 1.5rem;
}

/** contact part end */
/**footer part start */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
  text-align: center;
}

.footer .footer__logo {
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  margin: 1rem auto;
}

.footer .footer__logo .footer__logo--name {
  position: relative;
  top: 20%;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.5rem;
}

.footer .footer__left {
  margin: 0 auto;
  padding: 1rem 0;
}

.footer .footer__left .footer__left--social {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
  flex-wrap: wrap;
  position: relative;
  padding: 0.5rem 0.2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: var(--outer-shadow);
  margin: auto 0.2rem;
}
.footer .footer__para {
  padding: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/**footer part end */
